
 @import "bootstrap";

	.desc-word-break{
    word-break: break-all;
}

.text-overflows{
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px;
    margin: 0;
    background: white;
    resize: horizontal;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

*, *::before, *::after {
    box-sizing: border-box;
}
